body {
    font-family: 'Segoe UI', sans-serif;
    background: blue;

    
}

#form1 {
    width: 100%;
    position: fixed;
    top: 5em;
    left: 50%;
    margin-left: 232px;
}



#form2 {
    width: 100%;
    position: fixed;
    top: 5em;
    left: 50%;
    margin-left: -85px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

canvas {
    margin: auto;
    display: block;
}

span {
    font-style: italic;
}
